<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Home</title>
  </head>

  <body>
    <% include ../partials/header %>
		<div class="container-fluid">
      <div class="row">
				<% include ../partials/menu %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Overview</h1>
					<div class="row">
						<div class="form-horizontal col-lg-12">
							<h2>What is EMS ?</h2>
							EMS is a project made by hepia students (Switzerland) which aims to
							develop an energy management software. This software alows to control
							the temperature, the humidity and the luminance of a room by driving
							the radiators and the stores of the given room. The software provide
							also statistics of the measures taken.
							<h2>How it works ?</h2>
							EMS uses Smarthepia (an IoT platform deployed in hepia), a postgresql
							database, a REST API client/server in python and Node.js for the web app.
							<h3>Smarthepia</h3>
							Smarthepia is an IoT platform deployed on the 4th and 5th floors of hepia’s "A" building. This platform is composed of sensors (temperature, humidity, luminance, motion) and actuators (controlling stores, radiators and light). The sensors’ measurements and actuators’ control are accessible through RESTful web services.
							<h3>Database</h3>
							<img src="../images/bdd.png" alt="bdd" style="width: 50%; height: 50%" >
							<h3>Global Architecture</h3>
							<img src="../images/global.png" alt="global" style="width: 50%; height: 50%" >
							<h2>Resources</h2>
							<ul>
								<li><a href="http://www.postgresqltutorial.com/postgresql-python/">Postgresql with python</a></li>
								<li><a href="https://blog.miguelgrinberg.com/post/designing-a-restful-api-with-python-and-flask">REST server with python</a></li>
								<li><a href="https://getbootstrap.com">Bootstrap</a></li>
								<li><a href="http://www.daterangepicker.com">Date Range Picker</a></li>
								<li><a href="http://www.chartjs.org">Chart.js</a></li>
								<li><a href="https://github.com/seiyria/bootstrap-slider">bootstrap-slider</a></li>
							</ul>
						</div>
					</div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>
