<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Rooms</title>
  </head>

  <body>
    <% include ../partials/header %>
		<div class="container-fluid">
      <div class="row">
				<% include ../partials/menu %>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Rooms</h1>
        </main>
      </div>
    </div>
    <% include ../partials/scripts %>
  </body>
</html>
